<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h2>Category: <span th:text="${filterName}"></span></h2>

    <div class="meal-grid">
        <div class="card meal-card" th:each="meal : ${meals}">
            <img th:src="${meal.strMealThumb}">
            <h3 th:text="${meal.strMeal}"></h3>
            <a th:href="@{/meal/{id}(id=${meal.idMeal})}">View Details</a>
        </div>
    </div>

    <br>
    <a href="/">⬅ Back to Home</a>

</div>

</body>
</html>
